@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body,
html {
  padding: 0;
  margin: 0;
  background-color: #dddddd;
  font-family: 'Kanit', sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 50%;
  }
}

.fa-check-circle {
  -webkit-transform: scale(4);
          transform: scale(4);
  color: #6fff82;
}

.navbar {
  position: fixed;
  height: 7;
  width: 100%;
  top: 0;
  padding: 0;
  background-color: #fafafa;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  .navbar {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    height: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .navbar {
    height: 60px;
  }
}

.navbar .navbar_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar_container .navbar_brand_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
}

.navbar .navbar_container .navbar_brand_container .navbar_brand_logo {
  height: 100%;
}

.navbar .navbar_container .navbar_brand_container .navbar_brand_name {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
}

.navbar .navbar_container .navbar_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn_underline {
  background-color: #ff641c;
  position: absolute;
  height: 5px;
  -webkit-transition: width 0.2s, left 0.2s;
  transition: width 0.2s, left 0.2s;
}

@media screen and (min-width: 320px) {
  .navbar .navbar_container .navbar_btn_container .navbar_btn_underline {
    top: 75px;
  }
}

@media screen and (min-width: 768px) {
  .navbar .navbar_container .navbar_btn_container .navbar_btn_underline {
    top: 65px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar .navbar_container .navbar_btn_container .navbar_btn_underline {
    top: 55px;
  }
}

@media screen and (min-width: 1600px) {
  .navbar .navbar_container .navbar_btn_container .navbar_btn_underline {
    top: 55px;
  }
}

.navbar .navbar_container .navbar_btn_container a {
  all: unset;
  height: 100%;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 16px;
  padding: 0 20px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn:hover {
  color: #ff641c;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn_box_logout,
.navbar .navbar_container .navbar_btn_container .navbar_btn_box_setting {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  background-color: #fc6389;
  color: white;
  width: auto;
  padding: 0 3px;
  margin: 0 8px;
  border-radius: 10px;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn_box_logout *,
.navbar .navbar_container .navbar_btn_container .navbar_btn_box_setting * {
  padding: 0 5px;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn_box_logout:hover,
.navbar .navbar_container .navbar_btn_container .navbar_btn_box_setting:hover {
  background-color: #ff1c1c;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn_box_setting {
  background-color: #5dfaac;
}

.navbar .navbar_container .navbar_btn_container .navbar_btn_box_setting:hover {
  background-color: #00ff22;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
}

@media screen and (min-width: 320px) {
  .main_content {
    margin-top: 130px;
  }
}

@media screen and (min-width: 768px) {
  .main_content {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .main_content {
    margin-top: 110px;
  }
}

@media screen and (min-width: 1600px) {
  .main_content {
    margin-top: 110px;
  }
}

.index_page_container {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.index_page_container .page_header {
  background: -webkit-gradient(linear, left top, right top, from(#82fff9), to(rgba(162, 252, 229, 0.904)));
  background: linear-gradient(90deg, #82fff9, rgba(162, 252, 229, 0.904));
  color: #2e2e2e;
  font-size: 60px;
  margin: 30px;
  padding: 30px;
  border-radius: 40px;
}

.index_page_container .content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  width: 100%;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.index_page_container .content_container.hidden_content_container {
  height: 60px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.index_page_container .content_container.hidden_content_container .content_container {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.index_page_container .content_container.hidden_content_container .progress_container .progress_arrow {
  border-right: 10px solid #8d8d8d !important;
}

.index_page_container .content_container.hidden_content_container .progress_container .progress_tab {
  background-color: #8d8d8d !important;
}

.index_page_container .content_container.hidden_content_container .progress_container .progress_label {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  background-color: #8d8d8d !important;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.index_page_container .content_container .progress_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 95%;
}

.index_page_container .content_container .progress_container .progress_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 36px;
  background-color: #ffab66;
  color: white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.index_page_container .content_container .progress_container .progress_bar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index_page_container .content_container .progress_container .progress_bar .progress_arrow {
  width: 1px;
  height: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffab66;
}

.index_page_container .content_container .progress_container .progress_bar .progress_tab {
  width: 5px;
  height: 100%;
  background-color: #ffab66;
}

.index_page_container .content_container .content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.index_page_container .content_container .content_container h5,
.index_page_container .content_container .content_container label {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.index_page_container .content_container .content_container h5 {
  font-size: 40px;
}

.index_page_container .content_container .content_container label {
  font-size: 20px;
}

.index_page_container .content_container .content_container input {
  all: unset;
  background-color: #1f1f1f;
  width: 70%;
  height: 70px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  color: white;
  text-align: center;
}

.index_page_container .content_container .content_container input::-webkit-input-placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container input:-ms-input-placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container input::-ms-input-placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container input::placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.index_page_container .content_container .content_container .sub_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.index_page_container .content_container .content_container .sub_content_container.w80 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.index_page_container .content_container .content_container .sub_content_container.w80 div {
  width: 90%;
}

.index_page_container .content_container .content_container .sub_content_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
}

.index_page_container .content_container .content_container .sub_content_container div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding: 5px 10px;
  margin-left: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
}

.index_page_container .content_container .content_container .sub_content_container div label.left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.index_page_container .content_container .content_container .sub_content_container div label.right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 10px;
}

.index_page_container .content_container .content_container .sub_content_container div input {
  all: unset;
  padding: 5px 10px;
  background-color: #747474;
  margin-left: 15px;
  height: 30px;
  width: 20%;
  border-radius: 10px;
  font-size: 18px;
}

.index_page_container .content_container .content_container .sub_content_container div input:disabled {
  background-color: rgba(0, 0, 0, 0);
}

.index_page_container .content_container .content_container .sub_content_container div input::-webkit-input-placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container .sub_content_container div input:-ms-input-placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container .sub_content_container div input::-ms-input-placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container .sub_content_container div input::placeholder {
  text-align: center;
}

.index_page_container .content_container .content_container .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
}

.index_page_container .content_container .content_container .btn_container .btn_accept,
.index_page_container .content_container .content_container .btn_container .btn_deny {
  all: unset;
  width: 160px;
  height: 65px;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index_page_container .content_container .content_container .btn_container .btn_accept {
  background-color: #ffab66;
  color: #2c2c2c;
}

.index_page_container .content_container .content_container .btn_container .btn_accept:hover {
  background-color: #ff8a2a;
  color: white;
}

.index_page_container .content_container .content_container .btn_container .btn_accept:disabled {
  background-color: #c9c9c9;
  color: #a1a1a1;
}

.index_page_container .content_container .content_container .btn_container .btn_deny {
  background-color: #cccccc;
  color: #242424;
}

.index_page_container .content_container .content_container .btn_container .btn_deny:hover {
  background-color: #1b1b1b;
  color: #f3f3f3;
}

.search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  width: 80%;
  height: auto;
  top: 60px;
  z-index: 5000;
}

.search_container .search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background-color: #99d8fc;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.search_container .search_bar.expand_bar {
  width: 100vw;
}

.search_container .search_bar .search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: 30px;
  padding: 10px;
  padding-left: 20px;
  background-color: #ffffff;
}

.search_container .search_bar .search_input:focus-within {
  outline: 1px solid #14a9ff;
}

.search_container .search_bar .search_input input {
  all: unset;
  height: 30px;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search_container .search_bar .search_input i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #ebebeb;
}

.search_container .search_bar .search_input i:hover {
  color: #143fff;
}

.search_container .action_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #dddddd;
}

.search_container .action_panel .right,
.search_container .action_panel .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
}

.search_container .action_panel .right button,
.search_container .action_panel .right div,
.search_container .action_panel .left button,
.search_container .action_panel .left div {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 30px;
  color: #4e4e4e;
  padding: 0 10px;
  margin: 0 10px;
  background-color: #cacaca;
}

.search_container .action_panel .right button i,
.search_container .action_panel .right div i,
.search_container .action_panel .left button i,
.search_container .action_panel .left div i {
  font-size: 10px;
  margin-right: 5px;
}

.search_container .action_panel .right button:hover,
.search_container .action_panel .right div:hover,
.search_container .action_panel .left button:hover,
.search_container .action_panel .left div:hover {
  color: #ffffff;
  background-color: #ff4229;
}

.search_container .action_panel .right {
  margin-right: 5px;
}

.search_container .action_panel .right input {
  all: unset;
  width: 100px;
  height: 20px;
  padding: 5px;
  font-size: 16px;
  background-color: #fefefe;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.search_container .action_panel .right input.hide {
  width: 0;
  padding: 0;
  margin: 0;
}

.search_container .action_panel .right button {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.search_container .action_panel .right button.hide {
  width: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.search_container .action_panel .left {
  margin-left: 5px;
}

.header_bar {
  height: 25px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 190px;
  z-index: 5001;
  background-color: #dddddd;
}

.content_container {
  width: 80%;
}

.content_container .table_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.content_container .table_container table {
  width: 100%;
  border-spacing: 0;
}

.content_container .table_container table tbody,
.content_container .table_container table thead {
  width: 100%;
}

.content_container .table_container table tbody tr,
.content_container .table_container table thead tr {
  width: 100%;
}

.content_container .table_container table tbody tr a,
.content_container .table_container table thead tr a {
  all: unset;
}

.content_container .table_container table tbody tr th,
.content_container .table_container table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 215px;
  z-index: 5002;
  height: 40px;
  color: #333333;
  font-size: 16px;
  background-color: white;
}

.content_container .table_container table tbody tr td,
.content_container .table_container table thead tr td {
  height: 30px;
  color: #242424;
  font-size: 14px;
  background-color: #cccccc;
  text-align: center;
}

.content_container .table_container table tbody tr td.panel,
.content_container .table_container table thead tr td.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_container .table_container table tbody tr td.panel .panel_icon:hover,
.content_container .table_container table thead tr td.panel .panel_icon:hover {
  color: #fff;
}

.content_container .table_container table tbody tr td.phone,
.content_container .table_container table tbody tr th.phone,
.content_container .table_container table thead tr td.phone,
.content_container .table_container table thead tr th.phone {
  width: 17%;
}

.content_container .table_container table tbody tr td.name,
.content_container .table_container table tbody tr th.name,
.content_container .table_container table thead tr td.name,
.content_container .table_container table thead tr th.name {
  width: 17%;
}

.content_container .table_container table tbody tr td.gender,
.content_container .table_container table tbody tr th.gender,
.content_container .table_container table thead tr td.gender,
.content_container .table_container table thead tr th.gender {
  width: 8%;
}

.content_container .table_container table tbody tr td.birth_date,
.content_container .table_container table tbody tr th.birth_date,
.content_container .table_container table thead tr td.birth_date,
.content_container .table_container table thead tr th.birth_date {
  width: 12%;
}

.content_container .table_container table tbody tr td.email,
.content_container .table_container table tbody tr th.email,
.content_container .table_container table thead tr td.email,
.content_container .table_container table thead tr th.email {
  width: 17%;
}

.content_container .table_container table tbody tr td.join_date,
.content_container .table_container table tbody tr th.join_date,
.content_container .table_container table thead tr td.join_date,
.content_container .table_container table thead tr th.join_date {
  width: 12%;
}

.content_container .table_container table tbody tr td.point,
.content_container .table_container table tbody tr th.point,
.content_container .table_container table thead tr td.point,
.content_container .table_container table thead tr th.point {
  width: 8%;
}

.content_container .table_container table tbody tr td.action,
.content_container .table_container table tbody tr th.action,
.content_container .table_container table thead tr td.action,
.content_container .table_container table thead tr th.action {
  width: 9%;
}

.modal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(19, 19, 19, 0.822);
  -webkit-transition: opacity 0.3s ,visibility 0s 0.3s, z-index 0s 0.3s;
  transition: opacity 0.3s ,visibility 0s 0.3s, z-index 0s 0.3s;
}

.modal_container.show_modal {
  visibility: visible;
  opacity: 1;
  z-index: 10000;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.modal_container .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 40%;
  background-color: #e6e6e6;
  border-radius: 10px;
  -webkit-transform: translateY(-600px);
          transform: translateY(-600px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.modal_container .modal.show_modal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.modal_container .modal .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.modal_container .modal .row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal_container .modal .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 44%;
  padding: 10px 3%;
}

.modal_container .modal .row .col.w100 {
  width: 94%;
}

.modal_container .modal .row .col label {
  font-size: 20px;
  margin: 10px 5px;
}

.modal_container .modal .row .col input,
.modal_container .modal .row .col textarea {
  all: unset;
}

.modal_container .modal .row .col select {
  font-family: 'Kanit', sans-serif;
  width: 100% !important;
}

.modal_container .modal .row .col input,
.modal_container .modal .row .col textarea,
.modal_container .modal .row .col select {
  height: 45px;
  padding: 0 4%;
  background-color: #fff;
  font-size: 20px;
  width: 92%;
  border-radius: 5px;
  border: 1px dashed #a0a0a0;
}

.modal_container .modal .row .col input[type="date"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  padding: 0;
  width: 100%;
}

.modal_container .modal .row .col input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 4%;
}

.modal_container .modal .row .col input[type="date"]::-webkit-inner-spin-button {
  opacity: 0;
  position: relative;
  right: 4%;
}

.modal_container .modal .row .col input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-left: -100%;
}

.modal_container .modal .row .col textarea {
  padding: 5px 2%;
  width: 96% !important;
  height: auto;
  min-height: 45px;
  max-height: 135px;
  resize: vertical;
  overflow-wrap: break-word;
}

.modal_container .modal .row .modal_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: auto;
  border-top: 2px solid #4e4e4e;
  margin-top: 10px;
}

.modal_container .modal .row .modal_footer span {
  width: 15%;
  height: 50px;
  margin: 10px 0 20px 20px;
}

.modal_container .modal .row .modal_footer span:hover button {
  position: relative;
  top: 3px;
  left: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #14a9ff;
}

.modal_container .modal .row .modal_footer span button {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #143fff;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: #2e2e2e31 3px 3px;
          box-shadow: #2e2e2e31 3px 3px;
}

.address_dropdown {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.address_dropdown.reverse {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.address_row {
  background-color: #bbbbbb !important;
  -webkit-transition: height 0.3s, font-size 0.3s;
  transition: height 0.3s, font-size 0.3s;
}

.address_row.hide {
  background-color: #cccccc !important;
  height: 0px !important;
  font-size: 0px !important;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  -webkit-transition: background-color 0.3s, height 0.3s, font-size 0.3s;
  transition: background-color 0.3s, height 0.3s, font-size 0.3s;
}

.icon_container {
  all: unset;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_container i {
  color: #313131;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_container i:hover {
  color: white;
  background-color: #636363;
}

